<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="!(isHandset$ | async)">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="">Home</a>
      <a *olIfSignedIn="false" mat-list-item routerLink="/auth">Authenticate</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Online Library</span>
      <span *olIfSignedIn="true" style="margin-left: 200px">PRIVATE INFORMATION</span>

      <span class="logout-button">
        <button *ngIf="authQuery.isSignedIn$ | async; else signInLink" (click)="onLogout()" mat-raised-button color="warn">Sign out</button>
        <ng-template #signInLink>
          <a routerLink="/auth/signin" mat-raised-button color="accent">Sign in</a>
        </ng-template>
      </span>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
